$lightest-gray: #F4F5F9;
$lighter-gray:  #E8E8E8;
$light-gray:    #E5E5E5;
$blue-gray:     #A4ACB7;
$gray:          #999999;
$grayer:        #777777;
$black:         #454545;
$sidebar:       #454545;
$notice:        #424D5F;
$navigation:    #2C333D;

$main-color:    #4480FB;
$sub-color:     #FE3C4C;
