$phone-from:        300px;
$phone-to:          599px;
$tablet-portrait:   600px;
$tablet-landscape:  900px;
$desktop:           1260px;
$big-desktop:       1600px;

$wrapper:           1180px;

$bd-radius:         2px;

$desktop-header:    74px;
$mobile-header:     65px;

$wizard:            584px;
