.row {
  max-width: calc(100% + 30px);
  width: calc(100% + 30px);

  transform: translateX(-15px);

  & > * {
    padding-left: 12px;
    padding-right: 12px;

    @include for-desktop-up {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
