.img-list {
  display: flex;
  @include reset-ul;

  border-bottom: 1px solid $lighter-gray;
  border-top: 1px solid $lighter-gray;


  &__item {
    @include dflex;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;

    max-width: 33.33%;
    width: 100%;

    border-right: 1px solid $lighter-gray;

    text-align: center;

    &:last-child {
      border-right: none;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 27px;
    height: 27px;
    margin-bottom: 8px;

    margin-left: auto;
    margin-right: auto;

    @include for-desktop-up {
      width: 30px;
      height: 30px;

      margin-bottom: 14px;
    }

    & svg {
      fill: $main-color;
    }
  }

  &__text {
    width: 100%;
    color: $black;

    font-size: 12px;

    @include for-desktop-up {
      font-size: 14px;
    }

    &--color-blue {
      color: $main-color;
    }
  }

  &__link {
    display: block;
    width: 100%;

    padding: 20px 14px;

    text-decoration: none;
    color: $main-color;

    background-color: $lightest-gray;

    transition: background-color 0.3s;

    &:hover {
      background-color: darken($lightest-gray, 10%);
    }
  }
}
