.notice {
  padding-top: 14px;
  padding-bottom: 14px;

  background-color: $notice;

  color: $blue-gray;

  & .link {
    color: $blue-gray;
  }

  &__inner {
    @include dflex;
    justify-content: space-between;

    @include for-tablet-portrait-up {
      //justify-content: inherit;

      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__text {
    @include for-tablet-portrait-up {
      &:first-child {
        padding-right: 20px;
      }
    }
  }

  &__time-wrapper {
    @include dflex;
    width: 100%;

    padding-left: 14px;
    padding-right: 14px;

    justify-content: space-between;

    @include for-tablet-portrait-up {
      width: auto;

      padding-left: 0;
    }
  }

  &__time {
    @include for-tablet-portrait-up {
      padding-left: 10px;
    }
  }
}
