.sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: flex-start;
  align-content: flex-start;

  width: 100%;
  max-width: 250px;

  background-color: $sidebar;

  color: #fff;

  & a {
    padding: 14px 22px;
  }

  & > * {
    width: 100%;
  }

  &__logo {

    color: #fff;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
  }
}
