header.header
    .header__inner.wrapper
        .header__panel
            a.header__link.notifications(href="#")
                .notifications__inner
                    .notifications__icon
                        include ../../images/bell.svg
                    .notifications__counter 1

            a.header__link(href="#")
                .profile-panel
                    .profile-panel__image(style="background-image:url('../../images/avatar.jpg');")
                    .profile-panel__text Midwest Lab Center


