.page__notice.notice
    .notice__inner.wrapper
        .notice__text
            span Time remaining to review:
            |
            span.text--white 01 hr 31 min 12 sec

        .notice__text
            | See an issue with this case?
            |
            a.link(href='#') Report it
