.page__notice.notice
    .notice__inner
        .notice__text.notice__time-wrapper
                span Time remaining to review:
                |
                time(datetime="01:31:12").notice__time.time.text--white
                    span
                    | 01
                    span.time__measure hr
                    | 31
                    span.time__measure min
                    | 12
                    span.time__measure sec

        .notice__text.show-on-tablet
            | See an issue with this case?
            |
            a.link(href='#') Report it
