aside.sidebar
    a.sidebar__logo.logo(href='') Logo

    nav.sidebar__navigation.navigation.js-navigation
        ul.list.navigation__list
            li.list__item.navigation__item
                a.list__link.navigation__link(href='#')
                    .icon.navigation__icon
                        include ../../images/download.svg
                    span.list__text.navigation__text Dashboard

            li.list__item.navigation__item
                a.list__link.navigation__link(href='#')
                    .icon.navigation__icon
                        include ../../images/download.svg
                    span.list__text.navigation__text Create new case

            li.list__item.navigation__item
                a.list__link.navigation__link(href='#')
                    .icon.navigation__icon
                        include ../../images/download.svg
                    span.list__text.navigation__text Communication

            li.list__item.navigation__item
                a.list__link.navigation__link(href='#')
                    .icon.navigation__icon
                        include ../../images/download.svg
                    span.list__text.navigation__text Report Templates

            li.list__item.navigation__item
                a.list__link.navigation__link(href='#')
                    .icon.navigation__icon
                        include ../../images/download.svg
                    span.list__text.navigation__text System Analytics

            li.list__item.navigation__item
                a.list__link.navigation__link(href='#')
                    .icon.navigation__icon
                        include ../../images/download.svg
                    span.list__text.navigation__text Support
